@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@300;400;600;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0;
  display: flex;               
  justify-content: center;     
  align-items: center;         
  min-height: 100vh;           
  flex-direction: column;      
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

.avatar {
  border-radius: 50%;
}

.btn-blue {
  background-color: #608BC1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}

h3 {
  margin: 0; 
  font-size: 24px;
  line-height: 1.2;

